.addProduct__price > input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.addProduct__price > input[type="number"] {
    -moz-appearance: textfield;
}
.addProduct__quantity > input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.addProduct__quantity > input[type="number"] {
    -moz-appearance: textfield;
}

.addProduct__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin-left: 10%;
}

.addProduct__form > label {
    display: flex;
    flex-direction: column;
}

.addProduct__form > label > span {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 5px;
}
