.bandDetail__image{
    width:100%;
    height:450px;
    object-fit: contain;
}

.bandDetail{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.bandDetail > h1{
    color: black;
}

.bandDetail__detail{
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
}
.bandDetail__detail > h4{
    flex: 0.8;
}
.bandDetail__contact{
    flex:0.2;
    border-left: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    
}