.Card-Price {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    text-align: left;
}

.hello {
    display: flex !important;
    align-content: flex-start !important;
    text-align: left;
    align-self: start !important;
}
