.details {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: fit-content;
    width: 90vw;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.details__body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.tech__details {
    display: flex;
    background-color: white;
    margin-top: 30px;
    flex-direction: column;
    height: fit-content;
    width: 90vw;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
.product__quantity {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.product__quantityView {
    display: flex;
    flex-direction: row;
    margin-bottom: inherit;
    justify-content: space-evenly;
}
.product__quantityView > span {
    background-color: wheat;
    width: 25px;
    height: 25px;
    border: 1px solid grey;
    text-align: center;
}
.product__quantityView:hover {
    cursor: pointer;
}
.details__description > button {
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    max-width: 10vw;
}
.details__image {
    height: 50vh;
    margin-right: 10vw;
    margin-left: 10vw;
    overflow: visible;
}
.details__image > img {
    width: 100%;
    object-fit: cover;
    margin-top: 15px;
    margin-bottom: 15px;
}
.details__image {
    display: flex;
    justify-content: center;
    height: 60vh;
    min-width: 30vw;
}
.details__image > div {
    display: block !important;
    cursor: zoom-in !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
    align-self: start;
    width: 300px !important;
    height: 50vh !important;
}
.details__image > div > img {
    display: flex !important;
    width: 100%;
    height: 100% !important;
}
.details__image > div > div {
    margin-top: -20px !important;
    height: auto !important;
    width: auto !important;
    z-index: 200 !important;
}

.details__description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 50%;
    margin-left: -20px;
    margin-bottom: 25px;
}

.price {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.price__display {
    display: flex;
    margin-right: 2px;
}

.disabled {
    color: gray;
}

.disabled:hover {
    cursor: not-allowed;
}

.descriptionForm {
    display: flex;
    flex-direction: column;
}

.descriptionForm > textarea {
    height: 30vh;
    width: 40vw;
    margin-bottom: 15px;
}

.descriptionForm > button {
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    max-width: 5vw;
}

.Description {
    display: flex;
    flex-direction: column;
}

.Description > button {
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    width: 5vw;
}

.hovered__photo {
    height: 100vh;
    width: 100%;
}

.edits {
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    width: 5vw;
}
