.details {
    display: flex;
    flex-direction: column;
    background-color: white;
}
.details__body {
    display: flex;
    flex-direction: row;
}
.details__image {
    max-width: 40%;
    object-fit: contain;
    margin-left: 20px;
}
.details__description {
    max-width: 50%;
    margin-left: 10%;
}
