.details {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top:80px;
}
.details__body {
    display: flex;
    flex-direction: row;
}
.product__quantity {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.product__quantityView {
    display: flex;
    flex-direction: row;
    margin-bottom: inherit;
    justify-content: space-between;
}
.product__quantityView > span {
    background-color: wheat;
    width: 25px;
    height: 25px;
    border: 1px solid grey;
    text-align: center;
}
.product__quantityView:hover {
    cursor: pointer;
}
.details__description > button {
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
}
.details__image {
    max-width: 40%;
    object-fit: cover;
    margin-left: 20px;
}
.details__description {
    max-width: 50%;
    margin-left: 10%;
}

.price {
    margin-top: 5px;
}

.disabled {
    color: gray;
}

.disabled:hover {
    cursor: not-allowed;
}
