.gallery__images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin:40px 0px;
}

.gallery__imageCard{
    width:300px;
    height: 300px;
    object-fit: contain;
    margin: 15px 10px;
}