.search{
    position: fixed;
    top: 0;
    left: 40%;
    z-index: 100;
}

.locate{
    position: fixed;
    top: 65px;
    left: 0;
    z-index: 100;
    background-color: transparent;

}

.googleMap__icon:hover{
    color: blue !important;
}