.giftheader{
    display: flex;
    flex-direction: column;
    top: 0;
    position: sticky;
    z-index: 100;
}
.searchDrop{
    display: flex;
    flex-direction: column;
    background-color:rgba(0,0,0,0.8);
    margin-top:-20px;
    margin-left:140px;
    justify-self: center;
    z-index: 200;
    max-width: 900px;
}


.headergift {
    background-color: #131921;
    display: flex;
    align-items: center;
    position: sticky;
    min-width: 600px;
}

.header__logogift {
    background-color: white;
    width: 100px;
    height: 50px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 18px;
    object-fit: contain;
}

.header__searchgift {
    display: flex;
    flex: 1;
    z-index: 100%;
}

.header__searchInputgift {
    height: 30px;
    padding: 10px;
    border: none;
    width: 100%;
}
.header__searchIcongift {
    padding: 5px;
    height: 30px !important;
    background-color: #cd9042;
}

.header__navgift {
    display: flex;
    justify-content: space-evenly;
    border-top: 20px white;
}

.header__linkgift {
    color: white;
    text-decoration: none !important;
}

.header__optionLineOnegift {
    font-size: 10px;
    font-weight: 700;
}
.header__optionLineTwogift {
    font-size: 13px;
    font-weight: 800;
}

.header__optiongift {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.header__optionBasketgift {
    display: flex;
    align-items: center;
}

.header__basketCountgift {
    margin-right: 10px;
    margin-left: 10px;
}

.search__display{
    display: flex;
    flex-flow: column;
    z-index: 100;
}

.seemore{
    padding-bottom:15px;
    color: white !important;
    margin-left:40px;
    font: 15px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}