.historz {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.History__title {
    margin-right: 10px !important;
    padding: 10px !important;
    border-bottom: 1px solid lightgray !important;
}

.products__display {
    margin-left: 20px;
    align-self: flex-start;
    width: 70%;
}
