.overall {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: first baseline;
    background-color: white;
    transition: transform 450ms;
}

.overall:hover {
    transform: scale(1.08);
}
.history {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}

.history__image {
    object-fit: contain;
    margin-left: 40px;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 180px;
    height: 180px;
}

.history__info {
    margin-left: 40px;
    padding-left: 20px;
}

.history__title {
    font-size: 17px;
    font-weight: 800;
}

.cancle__button {
    width: fit-content;
    height: fit-content;
    align-content: center;
    align-self: center;
}

.status__display {
    margin-top: auto;
    margin-bottom: auto;
}

.ordered__by {
    display: flex;
    position: static;
    font-weight: 600;
}
