.home {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
.headerz{
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 100;
}

.carousalHome{
    margin-top:80px;
}

.home__image {
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    max-height: 300px;
    z-index: -1;
    margin-bottom: -40px;
    object-fit: contain;
}
.carousal > a {
    margin-top: auto;
    margin-bottom: auto;
    height: 40px;
    width: 50px;
    background-color: black !important;
}
.home__row {
    display: flex;
    flex-wrap: wrap;
}

.home__addProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 500px;
    min-width: 100px;
    padding: 20px;
    width: 30%;
    background-color: white;
    margin: 10px;
    z-index: 1;
}

.home__addProduct:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.home__addProduct > div {
    font-size: 1.5rem;
    word-spacing: 1px;
    margin-top: 60px;
    justify-content: flex-end;
}
