.hostHeader{
    display: flex;
    background-image:linear-gradient(to left,teal,white);
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;;
    z-index: 100;
    padding: 0px 10px;
}

.hostHeader > h1:hover{
    cursor: pointer;
}