.partyDetail__infoHeader > p{
    color: gray;
}

.partyDetail__Carousel{
    text-align: center;
}

.partyDetail__leftPart{
    width:52%;
}
.partyDetail__CImage{
    width:100%;
    height:400px
}

.partyDetail__infoHeader{
    background-color: white;
    
}

.partyDetail{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color:lightgray
}

.partyDetail__details{
    background-color: white;
    margin-top: 20px;;
}

.partyDetail__rightPart{
    width: 35%;
}

.partyDetail__book{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: white;
    align-items: center;
    padding:10px 0px;
}

.partyDetail__button{
    outline: 0 !important;
    width:90%;
    margin-top: 15px;
    background-color: orange;
    border-radius: 10px;
    border: 0;
}

.partyDetail__button:hover{
    background-color: darkorange;
}

.partyDetail__book > hr{
    width: 100%;
    background-color: lightgrey;
}

.partyDetail__images{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.partyDetail__GImage{
    margin: 10px 10px;
    width:40%;
    height:100px;
}

.partyDetail__Gallery{
    padding-top:15px;
    margin-top:20px;
    background-color: white;
}

.partyDetail__googleMap{
    width:100%;
    margin-top: 20px;
}