.signUp{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.signUp > h1{
    color: orange;
}

.signUp__nav{
    margin:30px 0px;
    width:100%;
    display: flex;
    align-items: center;
    background-color: aqua;
    justify-content: space-around;
}

.signUp__nav > h3:hover{
    color: orange;
    cursor: pointer;
}

.signUp__input{
    display: flex;
    flex-direction: column;
}

.signUp__middlepart{
    display: flex;    
    flex-direction: column;
    align-items: center;
}

.signUp__button{
    width:50%;
    border-radius: 75px !important;
    background-color: aquamarine !important;
}

.signUp__name > div{
    margin-right: 10px;
}

.signUp__name{
    display: flex;
    margin-bottom:15px;
}
.signUp__userPass{
    display: flex;
    justify-content: space-between;
    margin-bottom:15px;
}

.signUp__contactInfo{
    display: flex;
    justify-content: space-between;
    margin-bottom:15px;
}

.signUp__Address{
    display: flex;
    margin-bottom:15px;
}
.signUp__Address > div{
    margin-right: 10px;
}
