.detailCard{
    display: flex;
    background-color: lightgray;
    margin-top: 20px;
    margin-bottom: 20px;
    width:70%;
    border-radius: 25px;
    align-items: center;
}
.detailCard__image{
    width:250px;
    height:200px;
    object-fit: contain;
}
.detailCard__detail{
}